// Variáveis de cores
$primary-color: #4a89dc; // Azul
$secondary-color: #5d6d7e; // Cinza azulado
$accent-color: #f39c12; // Laranja
$dark-color: #2c3e50; // Azul escuro
$light-color: #f5f7fa; // Cinza claro
$white-color: #ffffff; // Branco
$black-color: #000000; // Preto
$background-color: #f8f9fa; // Fundo geral
$text-color: #343a40; // Texto principal

// Fontes
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
